* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: parkinsans;
}

form {
  display: none;
  grid-template-columns: 1fr;
  background-color: white;
  border-radius: 16px;
  padding: 5%;
  border: 10px solid navy;
  gap: 40px;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: black;
}

#darkDiv {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.767);
  top: 50%;
  left: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
}

form h1 {
  place-self: center;
  color: navy;
}

form input[type="text"],
input[type="number"] {
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: 2px solid navy;
  padding: 6px;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  color: navy;
}

button[type="submit"] {
  padding: 10px;
  border-radius: 6px;
  outline: none;
  border: none;
  background-color: navy;
  color: #45ff0c;
  font-size: 28px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

button[type="submit"]:hover {
  transform: scale(1.01);
}

#fish-type-buttons {
  place-self: center;
  display: flex;
  align-items: center;
  gap: 30px;
}

#fish-type-buttons button {
  padding: 8px;
  border-radius: 5px;
  outline: none;
  border: 2px solid navy;
  letter-spacing: 1px;
  font-size: 20px;
  cursor: pointer;
}

#fish-type-buttons button:hover {
  background-color: navy;
  color: white;
}

.fish-type-btn {
  font-weight: 600;
  color: navy;
}
.fish-type-btn.selected {
  background-color: navy;
  color: white;
}

.radioDiv span {
  font-weight: 700;
}

form h1 {
  letter-spacing: 3px;
}

.close-btn {
  position: absolute;
  top: -6px;
  right: 8px;
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  color: black;
}

.close-btn:hover {
  color: red;
}

.header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  place-items: center;
  padding: 20px;
  background-color: #45ff0c;
  font-size: 30px;
  text-align: center;
}

.header div {
  grid-column: 2 / 3;
  width: 100%;
  font-family: smooch sans;
  font-size: 40px;
  font-weight: 550;
}

.header img {
  width: 70px;
  grid-column: 1 / 2;
  grid-row: 1;
  cursor: pointer;
}

#content {
  background-color: navy;
  position: relative;
}

#dropdownDiv {
  background-color: rgba(0, 0, 128, 0.637);
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  place-items: center;
  color: navy;
  width: 100%;
  font-size: 20px;
  background-color: white;
  font-weight: 600;
}

#dropdownDiv div {
  cursor: pointer;
}

.addButton {
  cursor: pointer;
}

.participant {
  border-bottom: 4px solid rgb(0, 0, 0);
  padding: 14px;
  color: white;
  font-family: smooch sans;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.participant p {
  font-family: smooch sans;
  font-size: 40px;
  letter-spacing: 2px;
}

.length {
  font-weight: 450;
  place-self: center;
}

.name {
  font-weight: bolder;
}

.arrowImg {
  grid-column: 3 / 4;
  width: 40px;
  cursor: pointer;
  place-self: end;
  align-self: center;
}

.leaderboardDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 4px solid rgb(0, 0, 0);
}

.saltDiv,
.freshDiv {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  background-color: white;
  color: navy;
}

.saltDiv div,
.freshDiv div {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.titleImg {
  grid-column: 1 / 2;
  width: 100px;
  place-self: center;
}

.titleLabel {
  grid-column: 2 / 3;
  place-self: center;
  font-size: 40px;
  font-family: smooch sans;
  letter-spacing: 2px;
  font-weight: 700;
  border-bottom: 2px solid navy;
}

.catchDiv {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr;
  place-items: center;
  grid-auto-flow: row;
  background-color: #45ff0c56;
  padding: 30px 0;
  border: 2px solid navy;
  margin: 10px;
  position: relative;
  max-height: 700px;
  row-gap: 10px;
}

.catchImg {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  max-width: 100%;
  max-height: 500px;
  width: 300px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  pointer-events: auto;
}

.catchLength {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  font-family: smooch sans;
  font-size: 60px;
  letter-spacing: 1px;
  font-weight: 500;
}

.catchName {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  font-size: 50px;
  font-family: smooch sans;
  letter-spacing: 4px;
  font-weight: 500;
}

.metricDiv {
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}

.headerCatchesDiv {
  display: grid;
  grid-template-columns: 1fr 4fr;
  place-items: center;
  padding: 10px 0;
}

.headerCatchesDiv img {
  width: 80px;
  cursor: pointer;
}

.headerCatchesDiv p {
  font-size: 50px;
  font-family: smooch sans;
  font-weight: 550;
  color: white;
}

.totalLength {
  font-size: 40px;
  font-weight: 550;
  font-family: smooch sans;
  text-align: center;
  padding: 5px;
  color: navy;
  background-color: #45ff0c;
  letter-spacing: 1px;
}

.totalLength span {
  font-weight: 800;
  font-family: smooch sans;
}

.deleteButton {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: none;
  border-radius: 7px;
  border-bottom-right-radius: 0;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 17px;
  cursor: pointer;
  background-color: navy;
  color: white;
}

.deleteButton:hover {
  color: red;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  right: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translate(-50%, -50%);
}

.modal-content {
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  right: 50%;
  top: 50%;
}

#close-btn {
  font-size: 70px;
  color: rgb(255, 0, 0);
  right: 16px;
  transition: 0.1s ease;
}

#close-btn:hover {
  transform: scale(1.05);
}
